:root {
  ---bg-body-dark-violet: hsl(268, 75%, 9%); 
  --bg-container-lighter-violet: hsl(268, 74%, 15%);
  --bg-very-dark-violet: hsl(268, 47%, 21%);
  --key-dark-violet: hsl(281, 100%, 26%);
  --key-vivid-magenta: hsl(285, 91%, 52%);
  --key-pure-cyan: hsl(176, 100%, 44%);
  --key-soft-cyan: hsl(176, 100%, 60%);
  --key-dark-magenta: hsl(290, 70%, 36%);
  --text-light-yellow: hsl(52, 100%, 62%);
  --text-very-dark-blue: hsl(198, 20%, 13%);
  --text-white: hsl(0, 0%, 100%);

  --fz-regular: 2rem;
  --ff-main: 'League Spartan', sans-serif;

  --border-radius-normal: .5rem;
  --border-radius-large: 1rem;
}

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

body {
  background-color: var(---bg-body-dark-violet);
  font-family: var(--ff-main);
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-height: 420px;
  min-width: 400px;
  background-color: var(--bg-container-lighter-violet);
  border-radius: var(--border-radius-large);
}

.title {
  color: var(--text-light-yellow);
  font-size: 1.5rem;
  padding: 1rem;
}

.calculator-result-box {
  border-radius: var(--border-radius-normal);
  background-color: var(--bg-very-dark-violet);
  min-height: 80px;
  margin: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator-keys {
  min-height: 250px;
  background-color: var(--bg-very-dark-violet);
  margin: 1rem;
  padding: .5rem;
  border-radius: var(--border-radius-normal);
}

.calculator-keys__group {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
/* LAST GROUP OF BUTTONS */
.two {
  grid-template-columns: 1fr 1fr;
}

/* BUTTONS */
.key {
  background-color: var(--key-dark-violet);
  padding: .8rem 0;
  border: none;
  border-radius: var(--border-radius-normal);
  box-shadow: 0 .2rem var(--key-vivid-magenta);
  cursor: pointer;
}
.key:hover {
  background-color: var(--key-vivid-magenta);
  box-shadow: 0 .2rem var(--key-dark-violet);
}

.delete, .reset {
  background-color: var(--key-dark-magenta);
}
:is(.delete, .reset):hover {
  box-shadow: 0 .2rem var(--key-dark-magenta) ;
}

.result {
  background-color: var(--key-pure-cyan);
  box-shadow: 0 .2rem var(--key-soft-cyan);
}
.result:hover {
  background-color: var(--key-soft-cyan);
  box-shadow: 0 .2rem var(--key-pure-cyan);
}


